Repository pauleveritt/viewdom: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Replace Poetry and Nox with Hatch for build and testing
  pyproject.toml
Due: check-toml

Migrate poetry to hatch (#252)
  .flake8
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/viewdom/__init__.py
  src/viewdom/version.py
Due: check-toml, check-yaml

Release new version.
  src/viewdom/version.py
Due: none

Merge pull request #253
  src/viewdom/version.py
Due: none

Remove duplicate.
  docs/examples/expressions.md
Due: none

Update RTD config file.
  .readthedocs.yml
Due: check-yaml

Update RTD config file again.
  .readthedocs.yml
Due: check-yaml

Update RTD config file again.
  docs/requirements.txt
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
